@charset "utf-8";

* {
  user-select: none;
  font-family: Roboto, "Noto Sans SC" , "Microsoft YaHei", sans-serif!important;
}

html {
  width:100%;
  height:100%;
}

body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  cursor:default;
  font-size:14px;
  color:rgba(0,0,0,0.87);
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

img[src=""] {
  opacity: 0;
}

img {
	-webkit-user-drag: none;
}

#app {
  width:100%;
  height:100%;
  overflow-x: hidden;
}

/* global css */
:root {
  --dark-text: #505259;
  --light-grey-text: #c4c5cc;
  --grey-text: #85868c;
  --dodger-blue: #31a0f5;
}

/* Text styles */
.title {
  font-family: MicrosoftYaHei;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505259;
  color: var(--dark-text);
}
.inputText {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505259;
  color: var(--dark-text);
}
.inputHint {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c4c5cc;
  color: var(--light-grey-text);
}
.body {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505259;
  color: var(--dark-text);
}
.buttonLabel {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #85868c;
  color: var(--grey-text);
}
.caption {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #85868c;
  color: var(--grey-text);
}

.flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.paper {
	box-shadow: 0px 20px 30px 0 rgba(23, 99, 207, 0.12);	
	background-color: #FFF;
}

.divider {
	background-color: #f2f2f2!important;
}

.text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip {
	padding: 5px;
	color: #292936;
	font-size: 12px;
	background-color: #FFFFFF;
	margin-top: -10px;
	box-shadow: 0 0 20px 0 rgba(23, 99, 207, 0.1);
}

.arrow_box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	border: 1px solid #e6e6e6;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFFFFF;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before {
	border-color: rgba(230, 230, 230, 0);
	border-top-color: #e6e6e6;
	border-width: 6px;
	margin-left: -6px;
}

/* iconfont */
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

/* booting animation */
.spinner {
	margin: -60px 0 0 0;
  width: 60px;
  height: 60px;
  background-color: #81D4FA;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@keyframes rotateplane {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg) }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg) }
}
